input[type=text]{
    width:90%;
    outline:none;
    transition:0.3s;
    padding:0.63rem; 
    margin:5px 0px;
}
.btn{
    margin:5px 5px;
}
.heading_label{
    font-size:1.2rem;
    margin:7px 0px; 
}
.form-control{
    border-right:0px;
    border-left:0px;
}
input[type=text]:focus{
    width:100%;
    -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s;
    outline:0.5px solid #2d3436;
    -webkit-box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.08); 
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.08);
    box-sizing: border-box;
    
}
label{
    color:#636e72;
    font-weight: 300;
    padding:0.63rem; 

    margin:5px 0px;
}
@media(min-width:768px){
    label{
        width:20%;

    }
    input[type=text]{
        width:70%;
    }
}
.no-border{
    border:none;
    outline:none;
}
.top-spaceing{
    margin-top:5px;
}
