<div class="row client-profile">
    <div class="col-sm-8 client ">
        <div class="form-group">
          <div class="form-control text-center">
            <h4>Client Name: {{client.name}}</h4>
          </div>
          <div class="form-control">
            <p>Client name: {{client.name}}</p>
            <p>Client age: {{client.age}}</p>
            <p> client id : {{client.id}}</p>
            <p>Client location: {{client.location}}</p>
          </div>
          <div class="form-control ">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button"class="btn btn-info btn-md btn-space">Edit</button>
                  <button type="button"  (click)='onRemoveClient(client.id)' class="btn btn-danger btn-md btn-space">Delete</button>
                  
                </div>
          </div>
          
        </div>

      </div>
      
      <div class="col-sm-4 client client-image text-center">
        <img class="img-responsive" [src]="client.imagePath">
        </div>

</div>
