<div class="row client">
  <div class="col-sm-8 client client-profile">
    <div class="form-group">
      <div class="form-control text-center">
        <h4>Client Name: {{client.name}}</h4>
      </div>
      <div class="form-control">
        <p>Client name: {{client.name}}</p>
        <p>Client age: {{client.age}}</p>
        <p>Client location: {{client.location}}</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4 client client-image text-center">
    <img class="img-responsive" [src]="client.imagePath">
    </div>
    

</div>
