.client{
min-height:200px;
padding:10px;
}
.client-profile{
  
    min-height:200px;
}

.client-image{
   border-top:1px solid lightgray;
   border-bottom: 1px solid lightgray;
    max-height:300px !important;
    overflow:hidden;
    
}
.client-image img{
width:100%;
border-radius: 30px;

}