img{
    box-sizing: border-box;
    object-fit:cover;
}

.client{
min-height:200px;
padding:10px;
}
.client-profile{
  
    min-height:200px;
   
}

.client-image{
   border-top:1px solid lightgray;
   border-bottom: 1px solid lightgray;
   /*box-sizing: border-box;*/
    overflow: hidden;
    height:300px;
    margin-top:10px;
    
}
.btn-space{
    margin:5px;
}

.client-image img{
    /*    object-fit: scale-down;
        width:100%;
        height:100%;
    */
        vertical-align: middle;
        width: 200px;
        height: 200px;
        margin-top:20px;
        border-radius: 50%;
       
    }


/* tablets smaller then desktops */
@media(min-width:576px){
    .client-image img{
        height:160px;
        width:160px;
        margin-top:20px;
    }
}

@media(min-width:768px){
    .client-image{
        height:100px;
        width:100px;
         
    }
    .client-image img{
        margin:20px;
    }
    .btn-space{
        margin:0px 5px;
    }
}
